
.wrap-payment {
	background-color: #f2f3f5;
	padding: 12px;
} 
.commomBackgroundBoder{
	background-color: white;
	border-radius: 6px;
}
.info-delivery{
	padding: 20px;
	margin-bottom: 16px;
}
.form-group input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.infor-customer{
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}
.form-group{
	width: 49%;
}

.city{
	display: flex;
	justify-content: space-between
}
.town{
	display: flex;
	justify-content: space-between
}

.infor-order{
	padding: 20px;
}

.list-cart{
	margin-top: 16px;
}

.payment-cart{
	display: flex;
	margin-bottom: 12px;
}

.payment-cart-img{
	position: relative;
	overflow: hidden;
	display: flex;
	cursor: unset;
	z-index: 0;
	border-radius: 4px;
	border: 1px solid rgb(224, 224, 224);
	width: 80px !important;
	content-visibility: auto;
	height: 80px !important;
	flex-basis: 80px
}
.payment-cart-img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: transform 0.5s;
}
.cart-infor{
	margin-left: 12px;
	width: calc(100% - 80px);
}

.payment-cart-name{
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	font-size: 13px;
	max-height: 3.775rem;
	color: black;
	margin-bottom: 8px;
	
}

.note-order{
	padding: 20px;
}

.form-group-note{
	margin-top: 16px;
	
}
.form-group-note textarea{
	width: 100%;
	padding: 12px;
}

.ppay-ment{
	margin-top: 16px;
}

@media only screen and (max-width: 426px) {
	.infor-order{
		padding: 12px;
	}

	.wrap-payment .ant-row .ant-col{
		padding: 0 !important;
	}
	.form-group input[type=text], select {
		padding: 8px 12px;
	}
}
