.ant-row{
	margin: 0 !important;
}
.wrap-search{
	padding: 12px;
	background-color: #f2f3f5;
}
.fillter{
	background-color: white;
	border-radius: 6px;
	padding: 12px;
	position: sticky;
	width: 100%;
	top: 60px;
}

.fillter li{
	cursor: pointer;
	padding: 12px 8px 0px;
}

.search-product{
	width: 100%;
	background-color: white;
	border-radius: 6px;
	padding: 20px;
}

.ant-card{
	width: auto !important;
}

.container-page{
	margin-top: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-page a{
	width: 40px;
	height: 40px;
	background-color: antiquewhite;
	margin-left: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 426px){
	
	.search-product{
		padding: 8px;
	}
	
}

