
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	color: #3e474b;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: #3e474b;
}
ul li a:hover{
	text-decoration: none;
	color: black;
}
h1, h2, h3, h4, h5, h6{
	margin: 0 !important;
	padding: 0 !important;
}
ul{
	padding: 0 !important;
	margin: 0 !important;
}
.commomBackgroundBoder{
	background-color: white;
	border-radius: 6px;
}
header{
	position: sticky;
	top: 0;
	z-index: 9;
	transition: height 5s ;
	box-shadow: 0 4px 6px 0 rgba(202, 197, 197, 0.5);
}
.brand{
	display: flex;
}
.brand img{
	width: 60px;
	height: auto;
}
.brand-name h1{
	font-weight: bold;
  background: -webkit-linear-gradient( rgb(219, 135, 8), rgb(165, 21, 76));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-header{
	display: flex;
	background-color: white;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	transition: height 5s ;
	padding: 0.3rem;
}
.header-search{
	width: 45%;
}
.header-menu{
	display: flex;
}
.header-menu li a {
	color: #373941;
	font-weight: 600;
}

.scrolls{
	display: none;
	transition: height 2s ;
}
.center-icon{
	text-align: center;
	font-size: 20px;
}
.header-menu Button {
	min-height: 100%;
	border: none !important;
}

.cart-header-image{
	width: 80px;
	height: 80px;
	border: 1px solid rgb(224, 224, 224);
}
.cart-header-image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.description-sub{
	width: calc(100% - 80px);
	margin-left: 20px;
}

.cart-header-name{
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	font-size: 13px;
}

.sub-cart {
	display: flex;
	width: 380px;
	margin-bottom: 12px;
}
.sub-user {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.content-cart-number{
	position: relative;
}

.number-cart{
	position: absolute;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background-color: rgb(235, 31, 58);

	right: 17%;
	top: 0px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.number-cart span {
	color: white;
	font-size: 10px;
}

.wrap-list-cart-header{
	width: 400px;
	max-height: 300px;
	overflow-y: auto;
}

.wrap-list-cart-header::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(148, 143, 143, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.wrap-list-cart-header::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.wrap-list-cart-header::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(128, 126, 126, 0.3);
	background-color: #555;
}

/* ----------------------header mobile ----------------------- */

.header-mobile{
	background-color: white;
	display: none;
	position: sticky;
	top: 0;
	z-index: 9;
	transition: height 5s ;
}

.header-mobile-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (max-width: 426px){
	.container-header{
		display: none;
	}
	.header-mobile{
		display: block;
		padding: 4px 12px;
		box-shadow: none;
	}
	.scroll span{
		font-size: 12px;
	}

	.brand img{
		width: 50px;
		height: auto;
	}

	.header-moblie-logo .brand-name h1{
		font-size: 20px;
	}

	.header-menu .ant-btn{
		padding: 4px 12px;
	}

	.center-icon{
		text-align: center;
		font-size: 20px;
	}
}

@media only screen and (max-width: 321px){
	.header-mobile{
		padding: 4px 4px;
	}
}